@{

}

<p>
    <a asp-action="Create" class="btn btn-primary">Assign User Group Permission</a>
</p>
<div class="card">
    <div class="card-body ">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Role Number
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>